<section>
  <div class="container content">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-header">Chat</div>
          <div class="card-body height3">
            <ul class="chat-list">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card" id="chat1" style="border-radius: 15px;">
          <div class="card-body">
            <div class="form-outline">
              <textarea class="form-control" id="textAreaExample" rows="4" placeholder="Ask me your question?"></textarea>
              <button type="button" id="send_message" class="btn btn-primary ask-submit-btn">Send!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-listing-area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 welcome-div">
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-12 col-md-12">
          <section class="featured-job-area">
            <div class="container list-jobs">
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
  $("#send_message").on("click", function(){
    var loading_img = `<%= asset_url("loading.gif")%>`;
    var message = $("#textAreaExample").val();
    var current_user = `<%= current_user.present? ? current_user.first_name : "User"%>`;
    $('.chat-list').append(`<li class="out">\
      <div class="chat-img">\
        <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">\
      </div>\
      <div class="chat-body">\
        <div class="chat-message">\
          <h5>`+current_user+`</h5>\
          <p class="message">`+message+`</p>\
        </div>\
      </div>\
    </li>`);
    $('.chat-list').append(`<li class="loading-image in">\
      <img alt="Avtar" src=`+loading_img+`>\
    </li>`);
    var img = `<%= asset_url("img/logo/logo-icon.png") %>`;
    $.ajax({
      headers: { 'X-CSRF-Token': $('meta[name="authenticity-token"]').attr('content') },
      type: "GET",
      url: '/chatgpt_response',
      data: {message: message},
      success: function(response){
        $(".loading-image").hide();
        if(response) {
          $('.chat-list').append(`<li class="in">\
            <div class="chat-img">\
              <img alt="Avtar" src=`+img+`>\
            </div>\
            <div class="chat-body">\
              <div class="chat-message">\
                <h5>AI</h5>\
                <p class="chatgpt_response">`+response.data[0]["ai_response"]+`</p>\
              </div>\
            </div>\
          </li>`);
        }
        if(response.data[0]["jobs"] != "") {
          build_job_listing(response.data[0]["jobs"]);
          var scrollTo = $(".list-jobs");
          var position = scrollTo.offset().top - container.offset().top + container.scrollTop();
          container.animate({
            scrollTop: position
          });
        }
      },
      error: function(response){
        $(".loading-image").hide();
        alert("Something went wrong!");
      }
    });
    $("#textAreaExample").val("");

    function build_job_listing(jobs) {
      $("div.wel-div").remove();
      $(".welcome-div").append(`<div class="wel-div hero-cap text-center">\
        <h2>Here is some job suggestion for you</h2>\
      </div>`);
      $.each(jobs, function(k, v) {
        var job = jobs[k];
        var show_job_url = window.location.origin+"search_jobs/"+job.id;
        var save_job_url = window.location.origin+"/user_jobs/save_job?job_id="+job.id ;
        $(".list-jobs").prepend(`<div class="single-job-items mb-30">\
          <div class="job-items">\
            <div class="company-img">\
              <a href="`+show_job_url+`">\
                <img src=`+job.thumbnail+`/>\
              </a>\
            </div>\
            <div class="job-tittle job-tittle2">\
              <h4>
                <a href="`+show_job_url+`" class= "link">\
                  `+job.title+`
                </a>\
              </h4>\
              <ul>\
                <li>`+ job.company_name +`</li>\
                <li><i class="fas fa-map-marker-alt"></i>`+job.location+`</li>\
              </ul>\
            </div>\
          </div>\
          <div class="items-link items-link2 f-right">\
            <a href="`+save_job_url+`">Save this job</a>\
          </div>
      </div>`);
      });
    }
  });
</script>
