default: &default
  adapter: postgresql
  encoding: unicode
  username: username
  password: password
  host: localhost

development:
  <<: *default
  database: indeed_job_fetch_development

test:
  <<: *default
  database: indeed_job_fetch_test

production:
  <<: *default
