<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="row footer-wejed justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <!-- logo -->
          <div class="footer-logo mb-20">
            <a href="index.html"
              ><img src="<%= asset_url("img/logo/logo2_footer.png") %>" alt=""
            /></a>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
          <div class="footer-tittle-bottom">
            <span><%= Job.all.size%>+</span>
            <p>Total Jobs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
